:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
header ul.left {
  display: flex;
  padding-top: 0.5 rem;
  margin-right: 20rem;
  justify-content: space-between;
  background-color: tomato;
}
header ul.right {
  color: rgb(63, 63, 63);
  display: inline;
  /* background-color: white; */
  align-content: space-between;
  background-color: green;
  padding-top: 1rem;
}
header ul li a {
  color: rgb(63, 63, 63);
  text-decoration-line: none;
}
header ul li a.B {
  font-weight: bold;
}
header ul.right {
  padding-right: 0.5rem;
  margin-left: auto;
  display: flex;
}
main ul {
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  padding-left: 0.5rem;
}
main ul li img.cat {
  display: flex;
  height: 250px;
  width: 250px;
}
main ul li img.artist {
  height: 25px;
  width: 25px;
}
main ul li p.name {
  font-weight: bold;
}
