:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
header {
  display: flex;
}
header ul.left {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: flex-start;
  /* background-color: tomato; */
}
header ul.left.A {
  padding-top: -1rem;
}
header ul.right {
  color: rgb(63, 63, 63);
  margin-left: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* background-color: white; */
  justify-content: flex-end;
  /* background-color: green; */
  padding-top: 1rem;
}
header ul li a {
  color: rgb(63, 63, 63);
  text-decoration-line: none;
}
header ul li a.B {
  font-weight: bold;
}
header ul.right {
  padding-right: 0.5rem;
  margin-left: auto;
  display: flex;
}
main ul {
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
}

main ul li {
  display: flex;
  align-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  flex-direction: column;
}

main ul li.octodex-cat {
  background-color: rgb(255, 255, 255);
  border: rgb(203, 202, 202);
  border-width: 2px;
  border-style: solid;
  border-radius: 5%;
  flex-wrap: wrap;
}

main ul li .cat img {
  display: flex;
  height: 250px;
  width: 250px;
  background-color: rgb(255, 255, 255);
}
main ul li p.number {
  align-content: center;
}

main ul li a.name {
  font-weight: bold;
  color: black;
  text-decoration-line: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
}
main ul li a.artist {
  display: flex;
  height: 25px;
  width: 25px;
}

main ul li div.image-footer {
  display: flex;
}
main ul li div.image-footer div.number-name {
  display: flex;
  justify-content: flex-start;
}

main ul li div.image-footer div.artist-image {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  padding-top: 0.75rem;
}
footer {
  padding-top: 1rem;
  color: rgb(63, 63, 63);
}
