:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
main ul {
  display: flex;
  flex-wrap: wrap;
}
header ul {
  display: flex;
  justify-content: center;
}
main ul li img.cat {
  display: flex;
  height: 250px;
  width: 250px;
}
main ul li img.artist {
  height: 25px;
  width: 25px;
}
main ul li p.name {
  font-weight: bold;
}

header ul {
  background-color: tomato;
}

header ul li {
  background-color: yellowgreen;
  align-content: space-between;
  justify-content: space-around;
  padding-top: 0.5rem;
}

header ul li a {
  background-color: turquoise;
  text-decoration-color: darkgrey;
}

header ul li a.A,
header ul li a.A,
header ul li a.B,
header ul li a.C,
header ul li a.D {
  margin-right: 2rem;
  justify-content: space-between;
}

header ul li a.E,
header ul li a.F {
  margin-right: 2rem;
  justify-content: space-between;
}

p.octodex {
  background-color: darksalmon;
}
